.panel.panel-default
  .panel-heading Pledge
  .panel-body
    Pledged Hours:
    = @user.hours_pledged.to_i
  .panel-body
    Referrals:
    = @user.referrals.count
  .panel-body
    Pledged Referral Hours
    = @user.referred_pledge_hours

.panel.panel-default
  .panel-heading Causes
  - @user.causes.each do |cause|
    .panel-body
      = cause.name

.panel.panel-default
  .panel-heading Actions
  - @user.actions.each do |action|
    .panel-body
      = action.name

.panel.panel-default
  .panel-heading Skills
  - @user.skills.each do |skill|
    .panel-body
      = skill.name

#raw
  Raw
  = @user.to_json
